#cat	host            	user    	password            	desc
OS  	host-name       	root    	********            	開発マシン
DB  	sid@host-name   	sys     	********            	sys@開発DB
DB  	sid@host-name   	system  	********            	system@開発DB

