#category	#group      	#target             	#user    	password            	desc
OS       	DEV         	host-name           	root    	********            	開発マシン
OS       	PRD         	host-name           	root    	********            	本番マシン
DB       	Dev-Server  	sid-1               	sys     	********            	sys@開発DB
DB       	Prd-Server  	sid-2               	system  	********            	system@開発DB
